main {
     background-color: rgb(248, 248, 248);
     justify-content: center;
     .portafolio {
        display: grid;
        /*grid-template-columns: repeat(4,1fr);*/
        /*grid-template-columns: 25% 25% 25% 25%;*/
        grid-template-columns: 225px 225px 225px 225px;
        justify-content: center;
        row-gap: 50px;
        column-gap: 50px;

        
        
        
        & div img{
            border-style: solid;
            border-color: $bordercolor2;
            justify-content: center;
            padding-left: 10px;
            

            &:hover{
                outline-style: solid;
                outline-color: $ButtonColor;
            }
        }

        .littlenote {
            
            color: $buttontxtcolor;
            background-image: url("https://picsum.photos/224/220");
            width: 224px;
            height: 220px;
            align-items: center;
            justify-content: center;
            border-style: solid;
            border-color: $bordercolor2;
            &:hover{
            outline-style: solid;
            outline-color: $ButtonColor;
            }
            
            .littlecube{
                margin:10%;
                justify-content:center;
                font-size: 11px;
                background-color:rgba(155, 10, 252, 0.5);
                border-radius:5%;

                button{
                    font-size: 5px;
                    border-radius: 15%;
                    color: $ButtonColor;
                    background-color:$bordercolor2;
                    border-style: none;
                }
            }

        }
    }
    .services {
        display: grid;
        /*grid-template-columns: repeat(2,1fr);*/
        grid-template-columns: 310px 310px;
        /*justify-content: center;*/
        /*text-align: center;*/
        /*align-items: center;*/
        column-gap: 50px;
        row-gap: 50px;
        justify-content: center;
        
        
        .cajitas {
            background-color: $h1color;
            /*padding-right:50%;*/
            padding-bottom: 1%;
            height: 100%;
            width: 100%;  
            align-items: right;
            img {
                padding-left: 10px;
                padding-top: 10px;
            }
            
            & .texto{
                float: right;
                width: 50%;
                text-align: right;
                font-size: 11px;
                padding-bottom: 1%;
                background-color: $bordercolor2;
                border-radius: 10%;
                
                h3{
                    justify-content: center;
                }
                a {
                    color: $ButtonColor;
                }
            }               
        }
        .cajitas2{
            text-align: left;
            
            /*padding-left:50%;*/
            padding-bottom: 1%;
            height: 100%;
            width: 100%;  
            align-items: right;
            background-color: $h1color;

            img {
                padding-left: 10px;
                padding-top: 10px;
            }
            
            & .texto{
                float: right;
                font-size: 11px;
                padding-bottom: 1%;
                background-color: $bordercolor2;
                border-radius: 10%;
                width: 50%;
                h3{
                    justify-content: center;
                }
                a {
                    color: $ButtonColor;
                }
                

                
                
            }
        }
    }
    .blog {
        display: grid;
        /*grid-template-columns: repeat(2,1fr);*/
        grid-template-columns: 510px 510px;
        row-gap: 5px;
        justify-content: center;

        .blogbox{
            display:flex;
            flex-direction: row;
            justify-content:center;
            /*align-items:center;*/
            font-size: 11px;
            & h4{
                border-left: 1px solid
            }
             & .blogtexto{
                padding-left:1%;
             }
    }

    .blogbox2{
        display:flex;
        flex-direction: row;
        justify-content:center;
        align-items:center;
        font-size: 11px;
        & h4{
            border-left: 5px solid
        }
         & .blogtexto2{
            padding-left:1%;
         }
    }
    .blogbox3{
        display:flex;
        flex-direction: row;
        justify-content:center;
        /*align-items:center;*/
        font-size: 11px;
        & h3{
            border-left: 5px solid
        }
         & .blogtexto3{
            padding-right:1%;
         }
    }
    .blogbox4{
        display:flex;
        flex-direction: row;
        justify-content:flex-end;
        /*align-items:center;*/
        font-size: 11px;
        /*width: 420px;*/

        & h4{
            border-left: 5px solid
        }
         & .blogtexto4{
            padding-left:1%;
            
            
            
         }
         & .bloglasttext{
             flex-direction: column;
             padding-left: 10px;
             font-size: 16px;
             
            & .inputbutton {
                display: flex;
                flex-direction: row;
                                
             }
         }

         
    }
    
    }

    .Contact{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        
        form{
            justify-content: center;
            align-items: center;

            

            .Data{
                flex-direction: row;
                margin: 15px;
                border-radius: 5px;
                
                font-size: 11px;             
                
                input {
                    border: 1px solid;
                    &:hover {
                        border-color: $bordercolor;
                        
                    }
                }
                
            }
            
            
            .BoxButtom{
                display: flex;
                flex-direction: column;
                margin: 15px;

                input {
                    height: 150px;
                    border: 1px solid;
                    &:hover {
                        border-color: $bordercolor; 
                    }            
                }

                
            }
            
            .BotonEnviar{
                text-align: center;
                
                
            }
        }
    }
}


