/* Smartphones (portrait and landscape) ----------- */  
@media only screen  
and (min-width : 100px)  
and (max-width : 900px) {  
    .ContenedorMaster{
        padding: 0;
        width: 100%;
        text-align: left;
        
    }
    header {
        width: 100%;
        padding: 0;
        display:flex;
        flex-direction: column;
        .NavBar2{
            display: flex;
            flex-direction: column;
        }
    }
    main {
        .portafolio{
            
            display: grid;
            grid-gap:5px;
            grid-template-columns: 250px;
        }
        .services{
            display: grid;
            /*grid-template-columns: repeat(2,1fr);*/
            grid-template-columns: 250px;
        }

        .blog{
            display: grid;
            grid-gap:5px;
            grid-template-columns: 250px;
        }
    }
}
/* Smartphones (landscape) ----------- */  
@media only screen  
and (min-width : 321px) {  
/* Styles */  
    .portafolio{
            
        display: grid;
        grid-gap:5px;
        grid-template-columns: 250px;
    }
}  
/* Smartphones (portrait) ----------- */  
@media only screen  
and (max-width : 320px) {  
/* Styles */  
}  
/* iPads (portrait and landscape) ----------- */  
@media only screen  
and (min-width : 768px)  
and (max-width : 1024px) {  
/* Styles */  
    .portafolio{
            
        display: grid;
        grid-gap:5px;
        grid-template-columns: 250px;
    }
}  
/* iPads (landscape) ----------- */  
@media only screen  
and (min-width : 768px)  
and (max-width : 1024px)  
and (orientation : landscape) {  
/* Styles */  
}  
/* iPads (portrait) ----------- */  
@media only screen  
and (min-width : 768px)  
and (max-width : 1024px)  
and (orientation : portrait) {  
/* Styles */  
}  
/* Desktops and laptops ----------- */  
@media only screen  
and (min-width : 1224px) {  
/* Styles */  
}  
/* Large screens ----------- */  
@media only screen  
and (min-width : 1824px) {  
/* Styles */  
}  
/* iPhone 4 ----------- */  
@media  
only screen and (-webkit-min-device-pixel-ratio : 1.5),  
only screen and (min-device-pixel-ratio : 1.5) {  
/* Styles */  
}  