.NavBar{
    display:flex;
    flex-direction: row;
    background-color: white;
    
    
}
.NavBar img {
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 100%;
}
.NavLinks li{
    float:right;
    list-style-type: none;
    padding-left:25px;
    justify-content:center;
    
    
}
.NavLinks li a{
    display: block;
    justify-content:center;
    text-decoration: none;
    color: rgb(85, 184, 223);
    
    &:hover{
        color: rgb(123, 69, 185);
        text-decoration: underline currentColor 9px; 
    }
}

.LinkRight{
    width:100%;
}


.NavBar2{
    display: flex;
    
    
   
    button {
        background-color: $ButtonColor ;
        color: $buttontxtcolor;
        padding: 20px;
        &:hover{
            border-color: $bordercolor;
            text-decoration: underline $bordercolor;
        }
    }
    p{
        width: 100%;
    }
    h2 {
        color: $h1color;
    }
    a {
        border-color:$bordercolor;
        width: 10%;
        
    }
    & .txtgroup{
        width: 50%;
        
        a img{
            width: 5%;
            height: 5%;
            padding-left: 15px;
            
        }

    }
    & .ProfPic img{
        border-radius: 50% ;
        border-color: $bordercolor2;
        padding: 20px;
        background-color:$bordercolor2;
        margin: 50px;
    }
    & .Social {

        padding: 10px;
        text-align: center;
        
        .like{
        border-radius: 10px;
        background-color: $likeycomparte;
        border-color: $bordercolor3;
        border-style: solid 0.5px;
        font-size: 11px;
        text-align: center;
    
        img{
            background-color: transparent;
        }
        }

        a{
            text-decoration:none;
            color: $buttontxtcolor;
            padding:10px;
        }
        .compartir{
            border-radius: 10px;
            background-color: $likeycomparte;
            border-color: $bordercolor3;
            border-style: solid 0.5px;
            font-size: 11px;
            text-align: center;
            padding-top: 10px;
            a{
                text-decoration:none;
                color: $buttontxtcolor;
                padding:10px;
            }
            }

        .tweet{
        border-radius: 10px;
        background-color: $bordercolor;
        border-color: $bordercolor;
        border-style: solid 0.5px;
        font-size: 11px;
        text-align: center;
        
        img{
            background-color: transparent;
        }
        a{
            text-decoration:none;
            color: $buttontxtcolor;
            padding: 10px;
        }
        }
    }
    
    
    
}

main {
    a {
        text-decoration: none;
        color: $likeycomparte;
    }
}
