$ButtonColor: rgb(142, 42, 224);
$buttontxtcolor: rgb(241, 231, 248);
$h1color: rgb(95, 214, 155);
$h2color: rgb(95, 214, 155);
$h3color: rgb(14, 11, 11);
$h4color: rgb(24, 21, 21);
$h5color: rgb(10, 10, 10);
$pcolor: rgb(22, 21, 21);
$bordercolor: rgb(68, 221, 226);
$bordercolor2: rgb(181, 231, 100);
$bordercolor3: rgb(17, 17, 16);
$likeycomparte: rgb(62, 120, 197)