.ContenedorMaster {
  padding-left: 150px;
  padding-right: 150px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.NavBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
}
.NavBar img {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.NavLinks li {
  float: left;
  list-style-type: none;
  padding-left: 25px;
  text-align: right;
}
.NavLinks li a {
  display: inline;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  color: #55b8df;
}
.NavLinks li a:hover {
  color: #7b45b9;
  -webkit-text-decoration: underline currentColor 9px;
          text-decoration: underline currentColor 9px;
}

.NavBar2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.NavBar2 button {
  background-color: #8e2ae0;
  color: #f1e7f8;
  padding: 20px;
}
.NavBar2 button:hover {
  border-color: #44dde2;
  -webkit-text-decoration: underline #44dde2;
          text-decoration: underline #44dde2;
}
.NavBar2 p {
  width: 100%;
}
.NavBar2 h2 {
  color: #5fd69b;
}
.NavBar2 a {
  border-color: #44dde2;
  width: 10%;
}
.NavBar2 .txtgroup {
  width: 50%;
}
.NavBar2 .txtgroup a img {
  width: 5%;
  height: 5%;
  padding-left: 15px;
}
.NavBar2 .ProfPic img {
  border-radius: 50%;
  border-color: #ddff8e;
  padding: 20px;
  background-color: #ddff8e;
  margin: 50px;
}
.NavBar2 .Social {
  padding: 10px;
  text-align: center;
}
.NavBar2 .Social .like {
  border-radius: 10px;
  background-color: #3e78c5;
  border-color: #111110;
  border-style: solid 0.5px;
  font-size: 11px;
  text-align: center;
}
.NavBar2 .Social .like img {
  background-color: transparent;
}
.NavBar2 .Social a {
  text-decoration: none;
  color: #f1e7f8;
  padding: 10px;
}
.NavBar2 .Social .compartir {
  border-radius: 10px;
  background-color: #3e78c5;
  border-color: #111110;
  border-style: solid 0.5px;
  font-size: 11px;
  text-align: center;
  padding-top: 10px;
}
.NavBar2 .Social .compartir a {
  text-decoration: none;
  color: #f1e7f8;
  padding: 10px;
}
.NavBar2 .Social .tweet {
  border-radius: 10px;
  background-color: #44dde2;
  border-color: #44dde2;
  border-style: solid 0.5px;
  font-size: 11px;
  text-align: center;
}
.NavBar2 .Social .tweet img {
  background-color: transparent;
}
.NavBar2 .Social .tweet a {
  text-decoration: none;
  color: #f1e7f8;
  padding: 10px;
}

main {
  background-color: #f8f8f8;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
main .portafolio {
  display: -ms-grid;
  display: grid;
  /*grid-template-columns: repeat(4,1fr);*/
  /*grid-template-columns: 25% 25% 25% 25%;*/
  -ms-grid-columns: 225px 50px 225px 50px 225px 50px 225px;
  grid-template-columns: 225px 225px 225px 225px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  row-gap: 50px;
  -webkit-column-gap: 50px;
     -moz-column-gap: 50px;
          column-gap: 50px;
}
main .portafolio div img {
  border-style: solid;
  border-color: #ddff8e;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
main .portafolio div img:hover {
  outline-style: solid;
  outline-color: #8e2ae0;
}
main .portafolio .littlenote {
  color: #f1e7f8;
  background-image: url("https://picsum.photos/224/220");
  width: 224px;
  height: 220px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-style: solid;
  border-color: #ddff8e;
}
main .portafolio .littlenote:hover {
  outline-style: solid;
  outline-color: #8e2ae0;
}
main .portafolio .littlenote .littlecube {
  margin: 10%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 11px;
  background-color: rgba(155, 10, 252, 0.5);
  border-radius: 5%;
}
main .portafolio .littlenote .littlecube button {
  font-size: 5px;
  border-radius: 15%;
  color: #8e2ae0;
  background-color: #ddff8e;
  border-style: none;
}
main .services {
  display: -ms-grid;
  display: grid;
  /*grid-template-columns: repeat(2,1fr);*/
  -ms-grid-columns: 310px 50px 310px;
  grid-template-columns: 310px 310px;
  /*justify-content: center;*/
  /*text-align: center;*/
  /*align-items: center;*/
  -webkit-column-gap: 50px;
     -moz-column-gap: 50px;
          column-gap: 50px;
  row-gap: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
main .services .cajitas {
  background-color: #5fd69b;
  padding-bottom: 1%;
  height: 100%;
  width: 100%;
  -webkit-box-align: right;
      -ms-flex-align: right;
          align-items: right;
}
main .services .cajitas :hover {
  border: 3px solid;
  border-color: #8e2ae0;
}
main .services .cajitas img {
  padding-left: 10px;
  padding-top: 10px;
}
main .services .cajitas .texto {
  float: right;
  width: 50%;
  text-align: right;
  font-size: 11px;
  padding-bottom: 1%;
  background-color: #ddff8e;
  border-radius: 10%;
}
main .services .cajitas .texto h3 {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
main .services .cajitas .texto a {
  color: #8e2ae0;
}
main .services .cajitas2 {
  text-align: left;
  /*padding-left:50%;*/
  padding-bottom: 1%;
  height: 100%;
  width: 100%;
  -webkit-box-align: right;
      -ms-flex-align: right;
          align-items: right;
  background-color: #5fd69b;
}
main .services .cajitas2 img {
  padding-left: 10px;
  padding-top: 10px;
}
main .services .cajitas2 .texto {
  float: right;
  font-size: 11px;
  padding-bottom: 1%;
  background-color: #ddff8e;
  border-radius: 10%;
  width: 50%;
}
main .services .cajitas2 .texto h3 {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
main .services .cajitas2 .texto a {
  color: #8e2ae0;
}
main .blog {
  display: -ms-grid;
  display: grid;
  /*grid-template-columns: repeat(2,1fr);*/
  -ms-grid-columns: 510px 510px;
  grid-template-columns: 510px 510px;
  row-gap: 5px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}
main .blog .borderblog :hover :not(div) {
  outline: 3px solid;
  outline-color: #8e2ae0;
}
main .blog .blogbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /*align-items:center;*/
  font-size: 11px;
}
main .blog .blogbox h4 {
  border-left: 1px solid;
}
main .blog .blogbox .blogtexto {
  padding-left: 1%;
}
main .blog .blogbox2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 11px;
}
main .blog .blogbox2 h4 {
  border-left: 5px solid;
}
main .blog .blogbox2 .blogtexto2 {
  padding-left: 1%;
}
main .blog .blogbox2 :hover :not(div) {
  outline: 3px solid;
  outline-color: #8e2ae0;
}
main .blog .blogbox3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /*align-items:center;*/
  font-size: 11px;
}
main .blog .blogbox3 h3 {
  border-left: 5px solid;
}
main .blog .blogbox3 .blogtexto3 {
  padding-right: 1%;
}
main .blog .blogbox4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  /*align-items:center;*/
  font-size: 11px;
  /*width: 420px;*/
}
main .blog .blogbox4 h4 {
  border-left: 5px solid;
}
main .blog .blogbox4 .blogtexto4 {
  padding-left: 1%;
}
main .blog .blogbox4 .bloglasttext {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 10px;
  font-size: 16px;
}
main .blog .blogbox4 .bloglasttext .inputbutton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
main .Contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-align: center;
}
main .Contact form {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
main .Contact form .Data {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 15px;
  border-radius: 5px;
  font-size: 11px;
}
main .Contact form .Data input {
  border-radius: 5px;
  border: 1px solid;
}
main .Contact form .Data input:hover {
  border: 3px solid;
  border-color: #44dde2;
}
main .Contact form .BoxButtom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 15px;
}
main .Contact form .BoxButtom input {
  border-radius: 5px;
  height: 150px;
  border: 1px solid;
}
main .Contact form .BoxButtom input:hover {
  border: 3px solid;
  border-color: #44dde2;
}
main .Contact form .BotonEnviar {
  text-align: center;
}
main .Contact form .BotonEnviar button {
  background-color: #8e2ae0;
  color: #f1e7f8;
  border-radius: 5px;
  border: none;
  font-size: 9px;
  padding: 9px;
}
main .Contact form .BotonEnviar :hover {
  text-decoration: underline;
  -webkit-text-decoration-color: aqua;
          text-decoration-color: aqua;
}

footer .LastFooter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-align: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
footer .LastFooter .ImgFooter {
  text-align: left;
}
footer .LastFooter .CentralFooter {
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 10px;
  color: #5fd69b;
  font-size: 20px;
}
footer .LastFooter .CentralFooter :hover {
  text-decoration: underline;
  -webkit-text-decoration-color: #44dde2;
          text-decoration-color: #44dde2;
}
footer .LastFooter .FooterImage {
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  vertical-align: middle;
}
footer .LastFooter .LowerFooter a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  float: center;
}
footer .NavLinks2 {
  text-align: center;
}
footer .NavLinks2 li {
  display: inline-block;
  list-style-type: none;
  padding-left: 25px;
  text-align: center;
}
footer .NavLinks2 li a {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  color: #181515;
}
footer .NavLinks2 li a:hover {
  color: #7b45b9;
  -webkit-text-decoration: underline currentColor 9px;
          text-decoration: underline currentColor 9px;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width: 100px) and (max-width: 900px) {
  .ContenedorMaster {
    padding: 0;
    width: 100%;
    text-align: left;
  }

  header {
    width: 100%;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  header .NavBar2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  main .portafolio {
    display: -ms-grid;
    display: grid;
    grid-gap: 5px;
    -ms-grid-columns: 250px;
    grid-template-columns: 250px;
  }
  main .services {
    display: -ms-grid;
    display: grid;
    /*grid-template-columns: repeat(2,1fr);*/
    -ms-grid-columns: 250px;
    grid-template-columns: 250px;
  }
  main .blog {
    display: -ms-grid;
    display: grid;
    grid-gap: 5px;
    -ms-grid-columns: 250px;
    grid-template-columns: 250px;
  }
}
/* Smartphones (landscape) ----------- */
@media only screen and (min-width: 321px) {
  /* Styles */
  .portafolio {
    display: -ms-grid;
    display: grid;
    grid-gap: 5px;
    -ms-grid-columns: 250px;
    grid-template-columns: 250px;
  }
}
/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 320px) {
  /* Styles */
}
/* iPads (portrait and landscape) ----------- */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  /* Styles */
  .portafolio {
    display: -ms-grid;
    display: grid;
    grid-gap: 5px;
    -ms-grid-columns: 250px;
    grid-template-columns: 250px;
  }
}
/* iPads (landscape) ----------- */
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  /* Styles */
}
/* iPads (portrait) ----------- */
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  /* Styles */
}
/* Desktops and laptops ----------- */
@media only screen and (min-width: 1224px) {
  /* Styles */
}
/* Large screens ----------- */
@media only screen and (min-width: 1824px) {
  /* Styles */
}
/* iPhone 4 ----------- */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  /* Styles */
}
/*# sourceMappingURL=styles.css.map */