.container {
  padding: 120px;
}

.navbari {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  text-align: start;
  list-style: none;
}

.navbari li {
  padding-left: 15px;
}

/*///////// HEADER NAV BAR ///////////////////////////*/
header {
  width: 1200px;
}

main {
  width: 940px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.SearchBar img {
  width: 100%;
}

.row1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-align: left;
}

.row1 p {
  padding-right: 150px;
}

.grid-container {
  display: -ms-grid;
  display: grid;
  grid-column-gap: 50px;
  grid-row-gap: 10px;
  -ms-grid-columns: 5fr 50px 5fr 50px 5fr;
  grid-template-columns: repeat(3, 5fr);
  grid-auto-rows: minmax(200px, auto);
}

h3 {
  text-decoration: underline;
}

.grid-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px;
  line-height: normal;
  height: 180px;
}

h1, h2, h3, h4, a {
  color: rgba(57, 86, 182, 0.986);
}

.bar {
  width: 940px;
}

.link-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 940px;
}

.botton-main-row1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px;
}

.text-footer {
  height: 270px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: auto;
}

.footer1 {
  width: 940px;
  height: 415px;
  background-color: rgba(57, 86, 182, 0.986);
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 35px;
  color: rgba(252, 252, 252, 0.986);
  font-size: 11px;
}

.uno-uno {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.uno-uno .text1 {
  width: 50%;
}

button {
  display: block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.button1 {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  text-align: right;
  padding-left: 300px;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.footer2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-left: 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}